    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>



<div>
	{%for place in places%}
	<h3>{{place.name}}</h3>
	<p id="lat">{{place.position.latitude}}</p>
	<p id="long">{{place.position.longitude}}</p>
	
    <div id="map"></div>

	{%empty%}
	<p>No hay a donde ir</p>
	{%endfor%}
	
</div>
   
        <script>

      function initMap() {
      	var lat = document.getElementById('lat').innerHTML;
      	var long = document.getElementById('long').innerHTML;
      	lat = parseFloat(lat);
      	long = parseFloat(long);
        var location = new google.maps.LatLng(lat,long);
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{keymap}}&callback=initMap">
    </script>
  
