{%extends 'base.html'%}
{%block head%}
{%endblock head%}


{%block content%}

<!--Slider-->

<div class="slideshow-container">
	{%for sl in slides%}
	<div class="mySlides fade">  
		<div class="image is-2by1">
			<img src="/media/{{sl.slide}}" style="width:100%">
		</div>
<!--<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>-->
	</div>
{%endfor%}


</div>


<!--Slider ends-->


	<div class="columns is-desktop">
	  <div class="column">
	    <div class="box">
	    	<figure class="image">
	    		<img src="/static/images/clas.jpg">
	    		<article class="media">
				    
				    <div class="media-content">
				      
				        <p>
				          <strong>Servicio</strong> 
				          <br>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
				        </p>
				      
				      
				    </div>
				  </article>
	    	</figure>
	    </div>
	  </div>

	  <div class="column">
	    <div class="box">
	    	<figure class="image">
	    		<img src="/static/images/clas.jpg">
	    		<article class="media">
				    
				    <div class="media-content">
				      
				        <p>
				          <strong>Servicio</strong> 
				          <br>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
				        </p>
				      
				      
				    </div>
				  </article>
	    	</figure>
	    </div>
	  </div>

	  <div class="column">
	    <div class="box">
	    	<figure class="image">
	    		<img src="/static/images/clas.jpg">
	    		<article class="media">
				    
				    <div class="media-content">
				      
				        <p>
				          <strong>Servicio</strong> 
				          <br>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
				        </p>
				      
				      
				    </div>
				  </article>
	    	</figure>
	    </div>
	  </div>
	  
	</div>


<div class="parallax"></div>

<div class="siguiente">
	
	<section class="hero is-white">
	  <div class="hero-body">
	    <div class="container">
	      
	      	
	      	<div class="columns is-desktop">
	      		<div class="column">
	      			<div class="content is-large">
	      				<br><br>
	      				<h1>Pide y Disfruta</h1>
	      				<h3>Con Quiky ahorrarás tiempo y podrás tener lo que desees hasta tu casa</h3>
	      				<h5 align="center">Descarga la app</h5>
	      			</div>

	      			<div class="columns">
			      		<div class="column">
			      			<figure class="image">
			      				<img src="static/images/google.png">
			      			</figure>
			      		</div>
			      		<div class="column">
			      			<figure class="image">
			      				<img src="static/images/ios.png">
			      			</figure>
			      		</div>
			      	</div>
	      		</div>
	      		<div class="column">
	      			<figure class="image">
			      		<img src="static/images/cel.png">
			      	</figure>
	      		</div>
	      	</div>

	    </div>
	  </div>
	</section>
</div>

<!--<div class="parallax"></div>-->






{%endblock content%}


{%block scripts%}
	<script src="/static/js/home.js"></script>
{%endblock scripts%}
