{%extends 'base.html'%}

{%block content%}
<style>
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('/static/images/moto.jpeg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<div class="image is-2by1">
	<img src="/static/images/hamb.jpeg">
	
</div>

	<div class="columns is-desktop">
	  <div class="column">
	    <div class="box">
	    	<figure class="image">
	    		<img src="/static/images/clas.jpg">
	    		<article class="media">
				    
				    <div class="media-content">
				      
				        <p>
				          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
				          <br>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
				        </p>
				      
				      
				    </div>
				  </article>
	    	</figure>
	    </div>
	  </div>

	  <div class="column">
	    <div class="box">
	    	<figure class="image">
	    		<img src="/static/images/clas.jpg">
	    		<article class="media">
				    
				    <div class="media-content">
				      
				        <p>
				          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
				          <br>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
				        </p>
				      
				      
				    </div>
				  </article>
	    	</figure>
	    </div>
	  </div>

	  <div class="column">
	    <div class="box">
	    	<figure class="image">
	    		<img src="/static/images/clas.jpg">
	    		<article class="media">
				    
				    <div class="media-content">
				      
				        <p>
				          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
				          <br>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
				        </p>
				      
				      
				    </div>
				  </article>
	    	</figure>
	    </div>
	  </div>
	  
	</div>


<div class="parallax"></div>

<div class="siguiente">
	Descarga la app
</div>

<!--<div class="parallax"></div>-->







{%endblock content%}